{{> topbar }}
<div class="main-body d-flex py-3 px-4 bg-light gap-3">
    <section class="bg-white py-3 px-2 rounded">
        <div class="d-flex align-items-center">
            <i class='bx bx-list-ul fs-4'></i>
            <p class="fw-bold mx-2 my-0"> Danh mục sản phẩm</p>
        </div>
        
        <div class="d-flex flex-column gap-0 align-items-stretch categories">
            <div class="filter-btn">
                <input type="radio" name="categories" id="all" value="Tất cả" checked>
                <label for="all" class="fw-normal rounded">Tất cả</label>
            </div>

            <div class="filter-btn">
                <input type="radio" name="categories" id="watch" value="watch">
                <label for="watch" class="fw-normal rounded">Đồng hồ</label>
            </div>

            <div class="filter-btn">
                <input type="radio" name="categories" id="household" value="household">
                <label for="household" class="fw-normal rounded">Đồ gia dụng</label>
            </div>
        </div>
    </section>
    <section class="bg-white flex-grow-1 rounded p-0" style="overflow: hidden;">
        <section class="row bg-intro">
            <div class="col"></div>
            <div class="col"></div>
        </section>
        <section class="products my-4 px-3">
            <h4>Sản phẩm</h4>
            <div class="card-container mt-4">
                <div class="card-item rounded border">
                    <a href="/products/" class="item-link">
                        <div class="img-container">
                            <img class="rounded" src="/img/products/Bảng Phóng Phi Tiêu.jpg" alt="rice">
                        </div>
                    </a>
                    <div class="content">
                        <a href="/products/" class="item-link">
                            Bảng phóng phi tiêu
                        </a>
                        <p class="fw-bold">25.000Đ</p>
                        <div class="subcontent">
                            <p>Số lượng còn: 10</p>
                            <div class="star-rating">
                                <i class='bx bxs-star'></i>
                                <span>5.0</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-item rounded border">
                    <a href="/products/" class="item-link">
                        <div class="img-container">
                            <img class="rounded" src="/img/products/Bánh ăn sáng C'est bon.jpg" alt="rice">
                        </div>
                    </a>
                    <div class="content">
                        <a href="/products/" class="item-link">
                            Bánh ăn sáng C'est bon
                        </a>
                        <p class="fw-bold">25.000Đ</p>
                        <div class="subcontent">
                            <p>Số lượng còn: 10</p>
                            <div class="star-rating">
                                <i class='bx bxs-star'></i>
                                <span>5.0</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-item rounded border">
                    <a href="/products/" class="item-link">
                        <div class="img-container">
                            <img class="rounded" src="/img/products/Cà phê G7 3in1.jpg" alt="rice">
                        </div>
                    </a>
                    <div class="content">
                        <a href="/products/" class="item-link">
                            Cà phê G7 3in1
                        </a>
                        <p class="fw-bold">25.000Đ</p>
                        <div class="subcontent">
                            <p>Số lượng còn: 10</p>
                            <div class="star-rating">
                                <i class='bx bxs-star'></i>
                                <span>5.0</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-item rounded border">
                    <a href="/products/" class="item-link">
                        <div class="img-container">
                            <img class="rounded" src="/img/products/Gọng kính SARIFA.jpg" alt="rice">
                        </div>
                    </a>
                    <div class="content">
                        <a href="/products/" class="item-link">
                            Gọng kính SARIFA
                        </a>
                        <p class="fw-bold">25.000Đ</p>
                        <div class="subcontent">
                            <p>Số lượng còn: 10</p>
                            <div class="star-rating">
                                <i class='bx bxs-star'></i>
                                <span>5.0</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-item rounded border">
                    <a href="/products/" class="item-link">
                        <div class="img-container">
                            <img class="rounded" src="/img/products/Gọng kính SARIFA.jpg" alt="rice">
                        </div>
                    </a>
                    <div class="content">
                        <a href="/products/" class="item-link">
                            Gọng kính SARIFA
                        </a>
                        <p class="fw-bold">25.000Đ</p>
                        <div class="subcontent">
                            <p>Số lượng còn: 10</p>
                            <div class="star-rating">
                                <i class='bx bxs-star'></i>
                                <span>5.0</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-item rounded border">
                    <a href="/products/" class="item-link">
                        <div class="img-container">
                            <img class="rounded" src="/img/products/Gọng kính SARIFA.jpg" alt="rice">
                        </div>
                    </a>
                    <div class="content">
                        <a href="/products/" class="item-link">
                            Gọng kính SARIFA
                        </a>
                        <p class="fw-bold">25.000Đ</p>
                        <div class="subcontent">
                            <p>Số lượng còn: 10</p>
                            <div class="star-rating">
                                <i class='bx bxs-star'></i>
                                <span>5.0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{> footer }}
        
    </section>
</div>