{{> topbar }}

<div class="order-body bg-light px-5 py-3 d-flex flex-column gap-3">
    <h5>Đơn hàng của tôi</h5>
    <section class="bg-white rounded p-3 d-flex gap-3 flex-column">
        <div class="single-product py-3 border-top border-bottom d-flex justify-content-between align-items-center">
            <div class="grid-container">
                <div class="img-container">
                    <img src="/img/products/Bánh ăn sáng C'est bon.jpg" alt="">
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <a href="#" class="text-muted">
                        Bánh C'est bon ăn sáng
                    </a>
                    <span>x2</span>
                </div>
            </div>
            <div>25.000D</div>
        </div>
        
         <div class="single-product py-3 border-top border-bottom d-flex justify-content-between align-items-center">
            <div class="grid-container">
                <div class="img-container">
                    <img src="/img/products/Bánh ăn sáng C'est bon.jpg" alt="">
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <a href="#" class="text-muted">
                        Bánh C'est bon ăn sáng
                    </a>
                    <span>x2</span>
                </div>
            </div>
            <div>25.000D</div>
        </div>
        
    </section>

    <section class="bg-white rounded p-3 d-flex gap-3 flex-column">
        <div class="single-product py-3 border-top border-bottom d-flex justify-content-between align-items-center">
            <div class="grid-container">
                <div class="img-container">
                    <img src="/img/products/Bánh ăn sáng C'est bon.jpg" alt="">
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <a href="#" class="text-muted">
                        Bánh C'est bon ăn sáng
                    </a>
                    <span>x2</span>
                </div>
            </div>
            <div>25.000D</div>
        </div>
        
         <div class="single-product py-3 border-top border-bottom d-flex justify-content-between align-items-center">
            <div class="grid-container">
                <div class="img-container">
                    <img src="/img/products/Bánh ăn sáng C'est bon.jpg" alt="">
                </div>
                <div class="d-flex flex-column justify-content-between">
                    <a href="#" class="text-muted">
                        Bánh C'est bon ăn sáng
                    </a>
                    <span>x2</span>
                </div>
            </div>
            <div>25.000D</div>
        </div>
        
    </section>
</div>

{{> footer }}