{{!-- Đây là layout để test chức năng quản lí tài khoản của admin --}}

{{!-- Duyệt qua danh sách tài khoản in ra màn hình --}}
<ul class="list-group">
    {{#each data}}
    <li class="list-group-item">Ho ten: {{this.HoTen}}
        <form action="/editAccount" method="post">
            <input type="hidden" name="Username" value="{{this.UserName}}">
            <button type="submit">edit</button>
        </form>
    </li>
    {{/each}}
</ul>