<div id="admin">
    {{> admin_sidebar}}
    {{!-- {{> cashier_dashboard}} --}}
    {{!-- <div style="background-color: blue; height:2000px; width:2000px; ">dfag</div> --}}
    {{>edit_profile}}

</div>