<h1>Hello from Home Page</h1>
<form action="/create_payment_url" method="post">
    <button type="submit" class="btn btn-primary">Nap tien</button>
</form>

<form action="/logout" method="post">
    <button type="submit" class="btn btn-primary">Logout</button>
</form>