<div class="dashboard-container">
    <header>
        Dashboard
    </header>

    <section class="cashier-infor w-75 mx-auto">
        <img id="adminImage" src="/img/logo_hcmus.png" alt="" class="cashier-image" />
        <div class="col1">
             <div>
                Username:
                <span id="adminUsername"></span>
            </div>
            <div>
                Họ tên:
                <span id="adminName"></span>
            </div>
            <div>
                Tuổi:
                <span id="adminAge"></span>
            </div>
            <div>
                Giới tính:
                <span id="adminGender"></span>
            </div>
           
        </div>
        <div class="col2">
            <div><i class="bx bx-phone"></i>Điện thoại:
                <span id="adminPhone"></span>
            </div>
            <div><i class="bx bx-envelope"></i>Email:
                <span id="adminEmail"></span>
            </div>
            <div><i class="bx bx-target-lock"></i>Địa chỉ:
                <span id="adminAddress"></span>
            </div>
        </div>
        <button class="btn-edit" type="button" data-bs-toggle="modal" data-bs-target="#editProfileModal">
            Chỉnh sửa
        </button>
    </section>

   {{> edit_profile}}

</div>

<script src="/js/userManagement.js"></script>
<script src="/js/dashboard.js"></script>