<div class="main-content">
    <div class="title_content">
        <div>
            <div class="main-header">
                Danh mục
            </div>

            <div class="sub-header">
                Quản lý danh mục sản phẩm
            </div>
        </div>
    </div>

    <div class="position-relative  w-75 mx-auto">
        <table class="manageTable table table-hover mx-auto rounded-3 overflow-hidden" id="categoryTable">
            <thead class="my-auto">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">ID </th>
                    <th scope="col">Tên </th>
                    <th scope="col">Chỉnh sửa/Xóa</th>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>

        {{!-- Modal delete confirm --}}
        <div class="modal fade position-absolute" id="deleteConfirmationModal" tabindex="-1"
            aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
            <div class="modal-dialog ">
                <div class="modal-content p-3">
                    <div class="modal-header  bg-light text-primary">
                        <h5 class="modal-title" id="deleteConfirmationModalLabel">Xác nhận</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Xóa danh mục "<span id="categoryToDelete"></span>"?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-danger" id="deleteCategoryBtn">Xóa</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="ic-plus" id="btn_add">
            <i class='bx bxs-plus-square btn-plus position-absolute bottom-0 end-0 cursor-pointer'
                data-bs-toggle="modal" data-bs-target="#categoryModal" data-placement="top" title="Thêm"
                onclick="showForm()"></i>
        </div>

        <!-- Form for edit/add category -->
        <div class="modal fade" id="categoryModal" tabindex="-1" data-bs-backdrop="static" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-light text-primary">
                        <h5 class="modal-title" id="categoryModalLabel">Thêm danh mục sản phẩm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="categoryForm" onsubmit="event.preventDefault();">
                            <div class="mb-3">
                                <label for="newName" class="form-label">Tên danh mục</label>
                                <input type="text" class="form-control" id="newName" name="Tên danh mục" required>
                                <div class="error-message" id="newNameError"></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary text-white" onclick="submitForm()">Xong</button>
                    </div>
                </div>
            </div>
        </div>


    </div>




</div>

<script src="/js/categories.js"></script>