<div class="modal fade  "  id="editProfileModal" tabindex="-1" role="dialog" data-bs-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title start-0" id="editProfileModalLabel">Chỉnh sửa
                    thông tin</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="editProfileForm">

                    <label for="editUsername">Username</label>
                    <input type="text" id="editUsername" name="editUsername" class="form-control" />
                    <span id="errorUsername" class="text-danger"></span>

                    <label for="editName">Họ và tên</label>
                    <input type="text" id="editName" name="editName" class="form-control" />
                    <span id="errorName" class="text-danger"></span>

                    <label for="editAge">Tuổi</label>
                    <input type="number" min="0" oninput="this.value = Math.abs(this.value)" id="editAge" name="editAge"
                        class="form-control" />
                    <span id="errorAge" class="text-danger"></span>

                    <label class="d-block ">Giới tính</label>
                    <div class="form-check form-check-inline ms-5">
                        <input class="form-check-input" type="radio" name="editGender" id="editNam" value="Nam">
                        <label class="form-check-label" for="editNam">Nam</label>
                    </div>
                    
                    <div class="form-check form-check-inline ">
                        <input class="form-check-input" type="radio" name="editGender" id="editNu" value="Nữ">
                        <label class="form-check-label" for="editNu">Nữ</label>
                    </div>
                    <br/>

                    <label for="editPhone">Điện thoại</label>
                    <input type="tel" id="editPhone" name="editPhone" class="form-control" />
                    <span id="errorPhone" class="text-danger"></span>

                    <label for="editEmail">Email</label>
                    <input type="email" id="editEmail" name="editEmail" class="form-control" />
                    <span id="errorEmail" class="text-danger"></span>

                    <label for="editAddress">Địa chỉ</label>
                    <input type="text" id="editAddress" name="editAddress" class="form-control" />
                    <span id="errorAddress" class="text-danger"></span>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary text-white" onclick="submitForm()">Lưu</button>
            </div>
        </div>
    </div>
</div>