<footer class="bg-dark p-3 text-light">
    <section class="d-flex">
        <div class="col">
            <a href="/" class="d-flex fw-bold">
                <span class="text-primary p-0 m-0">ShopUS</span>
                {{!-- <span class="text-primary">US</span> --}}
            </a>
            Đồ án cuối kì Lập trình web
        </div>
        <div class="col">
            <p class="fw-bold">Thông tin thành viên</p>
            <div class="d-flex align-items-center">
                <i class='bx bx-user-pin'></i>
                21120410 - Nguyễn Tuấn Anh
            </div>
            <div class="d-flex align-items-center">
                <i class='bx bx-user-pin'></i>
                21120430 - Ngô Tuấn Đạt
            </div>
            <div class="d-flex align-items-center">
                <i class='bx bx-user-pin'></i>
                21120442 - Trần Đăng Duy
            </div>
            <div class="d-flex align-items-center">
                <i class='bx bx-user-pin'></i>
                21120495 - Phạm Thị Mỹ Lệ
            </div>
            
        </div>
    </section>
    <hr>
    <section>
        &copy; 2024 
    </section>
</footer>