<div class="m-3 pagination d-flex gap-2 justify-content-center">
    <button id="previous-page" class="btn">
        <i class="bx bxs-chevrons-left">
        </i>
    </button>
    <div id="page-container" class="d-flex gap-2">
        <button class="page-click active">1</button>
        <button class="page-click ">2</button>
        <button class="page-click ">3</button>
    </div>
    <button id="next-page" class="btn">

        <i class="bx bxs-chevrons-right">
        </i>
    </button>
</div>