<div id="overlay">
    {{>admin_new_import}}
</div>

<div class="main-content">
    <div class="title_content">
        <div>
            <div class="main-header">
                Sản phẩm
            </div>

            <div class="sub-header">
                Quản lý sản phẩm
            </div>
        </div>
    </div>

    <div class="position-relative  mx-auto" style="width: 95%">
        <table class="manageTable table table-hover mx-auto rounded-3 overflow-hidden" id="productTable">
            <thead class="my-auto">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Mã sản phẩm</th>
                    <th scope="col">Tên sản phẩm</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Số lượng tồn</th>
                    <th scope="col">Loại</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Chỉnh sửa/Xóa</th>
                </tr>
            </thead>
            <tbody>
            </tbody>

            <div class="ic-plus" id="btn_add">
                <i class='btn bx bxs-plus-square btn-plus position-absolute cursor-pointer end-0 bottom-0'
                    style="font-size:1.5rem; margin-bottom:-2rem"
                   data-placement="top" title="Thêm" onclick="addNewProduct() "></i>
            </div>
        </table>

        <!-- Confirm delete product -->
        <div class="modal fade position-absolute" id="deleteConfirmationModal" tabindex="-1"
           data-bs-backdrop="static">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteConfirmationModalLabel">Xác nhận</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Xóa sản phẩm "<span id="productToDelete"></span>"?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-danger" id="comfirmDeleteProductBtn" onclick="confirmDeleteProduct()" data-bs-dismiss="modal">Xóa</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Form  edit/add product -->
      <div class="modal fade" id="productFormModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Thêm sản phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form class="" id="productForm" onsubmit="event.preventDefault();" method="post" enctype="multipart/form-data">
                    <input type="hidden" id="editIndex" value="-1"> 

                    <div class="mb-2">
                        <label for="productName" class="form-label">Tên sản phẩm</label>
                        <input type="text" class="form-control" id="productName" name="Tên sản phẩm" required>
                        <div class="error-message" id="productNameError"></div>
                    </div>
                    <div class="mb-2">
                        <label for="productPrice" class="form-label">Giá</label>
                        <input type="number" class="form-control" id="productPrice" name="Giá" min="0" oninput="this.value = Math.abs(this.value)" required>
                        <div class="error-message" id="productPriceError"></div>
                    </div>
                    <div class="mb-2">
                        <label for="productStock" class="form-label">Số lượng tồn</label>
                        <input type="number" class="form-control" id="productStock" name="Số lượng tồn" min="0" oninput="this.value = Math.abs(this.value)" required>
                        <div class="error-message" id="productStockError"></div>
                    </div>
                    <div class="mb-2">
                        <label for="productCategory" class="form-label">Loại</label>
                        <select class="form-select" id="productCategory" name="Loại" required>
                        </select>
                        <div class="error-message" id="productCategoryError"></div>
                    </div>
                    <div class="mb-2">
                        <label for="productImage" class="form-label">Ảnh</label>
                        <input type="file" class="form-control" id="productImage" name="input24[]" onchange="updateImagePreview(this)" multiple required>
                        <div class="error-message" id="productImageError"></div>
                        <div class="row flex-nowrap" style="overflow-x: auto;" id="imagePreview">
                            {{!-- <img id="imagePreview" class="mt-2" style="max-width: 100px; max-height: 100px;" > --}}
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal" onclick="changeState()">Hủy</button>
                <button type="button" class="btn btn-primary text-white" id="confirmBtn" onclick="submitForm()">Xong</button>
            </div>
        </div>
    </div>
</div>

    </div>



</div>




</div>
<script src="/js/productsManagement.js"></script>
<script src="/js/products.js"></script>