<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0"></script>
<script type="module" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<style>
    li::marker {
        font-size: 2rem;
        bottom: 0;
    }
</style>
<div class="main-content" style="">
    <section style="width: 45vw;" class="pe-0 category-chart d-flex flex-row">
        <canvas class="" id="revenueChart" width="250px;" height="200"></canvas>
        <div id="legendChart"></div>
    </section>
</div>

<script src="/js/statistic.js"></script>