<nav class="topbar bg-primary py-3 px-4 gap-3">
    <section class="d-flex align-items-center gap-3">
        <a class="d-flex fw-bold fs-4" href="/">
            <span class="text-white p-0 m-0">Shop</span>
            <span class="text-secondary">US</span>
        </a>

        <form class="w-100">
            <div class="input-group">
                <span class="input-group-text border-0 bg-white">
                    <i class='bx bx-search'></i>
                </span>
                <input class="form-control shadow-none border-0" type="search" placeholder="Search" aria-label="Search"
                    id="searchInput">
                <button class="btn btn-secondary" id="searchButton">Search</button>
            </div>
        </form>

        <div class="btn-group">
            <button type="button" class="btn border-0  dropdown-toggle text-white d-flex align-items-center"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class='bx bxs-user fs-4'></i> Tài khoản
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#">Thông tin tài khoản</a></li>
                <li><a class="dropdown-item" href="#">Đơn hàng của tôi</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Đăng xuất</a></li>
            </ul>
        </div>
        <div class="cart-notification">
            <a href="/client/cart" class="text-white">
                <i class='bx bx-cart fs-4'></i>
            </a>
            <span class="rounded-circle px-1 py-0 bg-danger text-white">12</span>
        </div>

    </section>
</nav>