.cart-body {
    .cart-view-container {
        .grid-container {
            display: grid;
            grid-template-columns: 1fr 11.25rem 7.5rem 7.5rem 3rem;
            column-gap: 1.5rem;
            font-size: 0.875rem;
            align-items: center;
            .product-amount {
                & > * {
                    font-size: 0.875rem;
                }
                button:hover {
                    background-color: $gray-200;
                }
            }
            .product-label {
                display: grid;
                grid-template-columns: 25% 1fr;
                column-gap: 0.5rem;
                align-items: center;
                .img-container {
                    position: relative;
                    padding-top: 100%;
    
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        max-width: 100%;
                        max-height: 100%;
                        margin: auto;
                    }
                }
            }
        }
    }
    .checkout-form {
        width: 23rem;
    }
}
