@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap");

// fonts
$font-family-sans-serif: "Be Vietnam Pro", sans-serif;

// colors
$primary: #008f95;
$secondary: #e9b000;
$base-color: #243c74;
$sub-color: #7c8cac;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import "variables";
@import "mixins";
@import "login";
@import "sidebar";
@import "cashier_dashboard";
@import "edit_profile";
@import "import";
@import "filter";
@import "header";
@import "categories";
@import "products";
@import "edit_profile";

a {
  text-decoration: none;
}

#admin {
  height: 100vh;
  display: flex;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
}
.title_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}