@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&display=swap");

// fonts
$font-family-sans-serif: "Be Vietnam Pro", sans-serif;

// colors
$primary: #008F95;
$primary-hover: #008186;
$secondary: #E9B000;
$light: #F5F5FA;
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

@import "variables";
@import "mixins";
@import "topbar";
@import "login";
@import "home";
@import "product";
@import "cart";
@import "checkout";
@import "wallet";
@import "sidebar";
@import "cashier_dashboard";
@import "edit_profile";

a {
  text-decoration: none;
}

#admin {
  height: 100vh;
  display: flex;
}

.bx.bxs-star {
  color: $star-rating-color;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

